
@{
    ViewBag.Title = "IssuedCert";
}

<form>
    
    @if (ViewBag.IssuedCertList != null)
    {
        <div class="form-group d-flex justify-content-center">
            <h3 class="font-weight-light my-2">Issued Certificate</h3>
        </div>
        <table class="table ">
            <thead>
                <tr>
                    <th>Certificate</th>
                    <th>Price</th>
                    <th class="text-center">No. of Copies</th>
                    <th>Issued Date</th>
                    <th>Issued By</th>
                    <th>Issued To</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var d in ViewBag.IssuedCertList)
                {
                    <tr>
                        <td>@d.certName</td>
                        <td >@d.price</td>
                        <td class="text-center">@d.copies</td>
                        <td>@d.issuedDate.Date.ToString("dd/MM/yyyy")</td>
                        <td>@d.officialName</td>
                        <td>@d.residentName</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2 class="mb-5">No Documents Available</h2>
    }
</form>

