
@{
    ViewBag.Title = "MyRequests";
}

@if (ViewBag.MyRequestList != null)
{
    <div class="form-group d-flex justify-content-center">
        <h3 class="font-weight-light my-2">My Certificate Request</h3>
    </div>
    <table class="table mb-5">
        <tr>
            <th>Certificate Name</th>
            <th class="text-center">Price</th>
            <th class="text-center">Purpose</th>
            <th class="text-center">No. of Copies</th>
            <th class="text-center">Request Date</th>
        </tr>
        @foreach (var item in ViewBag.MyRequestList)
        {
            <tr>
                <td>@item.name</td>
                <td class="text-center">@item.price</td>
                <td class="text-center">@item.purpose</td>
                <td class="text-center">@item.copies</td>
                <td class="text-center">@item.requestDate</td>
            </tr>
        }
    </table>

}
else
{
    <h2 class="mb-5">No Request History Available</h2>
}

