@{
    ViewBag.Title = "Residents";
}


@if (ViewBag.ResidentList != null)
{
    <div class="form-group d-flex justify-content-center">
        <h3 class="font-weight-light my-2 noprint">Residents</h3>
    </div>
    <table class="table mb-5">
        <tr>
            <th>Resident ID</th>
            <th>Name</th>
            <th>Birthdate</th>
            <th>Age</th>
            <th>Civil Status</th>
            <th>Vital Status</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
        @foreach (var res in ViewBag.ResidentList)
        {
            <tr>
                <td>@res.id </td>
                <td>@res.name</td>
                <td>@res.bDate</td>
                <td>@res.age</td>
                <td>@res.civilStat</td>
                <td>@res.vitalStat</td>
                <td>@res.email</td>
                <td>@res.phoneNo</td>
            </tr>
        }
    </table>
    <p class="noprint"><a href="javascript:window.print()">Click to Print This Page</a></p>
}
else
{
    <h2 class="mb-5">No List of Resident Available</h2>
}

