<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .bg {
            background-image: url(https://c4.wallpaperflare.com/wallpaper/886/80/962/simple-gradient-minimalism-wallpaper-preview.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .dis {
            display: none;
        }
    </style>
    <link href="~/Content/print.css" media="print" rel="stylesheet" />
</head>
<body class="bg" style="color: white">
    <div>
        <nav class="navbar navbar-expand-md navbar-dark bg-transparent">
            <!--
            Before login: Home News
            Resident: Home Certificats Profile
            Official: Home Requests Complaints 
            -->
            <div>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("eBarangayMo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    @{ if (Session["email"] == null && Session["password"] == null)
                        {
                            <li>@Html.ActionLink("Home", "Home", "Home", new { @class = "nav-item nav-link" })</li>
                            <li>@Html.ActionLink("Login", "Index", "Home", new { @class = "nav-item nav-link" })</li>
                        }
                        else
                        {
                            if (Session["officialID"] == null)
                            {
                                <li>@Html.ActionLink("Home", "Home", "Home", new { @class = "nav-item nav-link" })</li>
                                <li>@Html.ActionLink("Request", "CertRequest", "Home", new { @class = "nav-item nav-link" })</li>
                                <li>@Html.ActionLink("Notification", "Index", "Home", new { @class = "nav-item nav-link" })</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Post", "brgyOffPage", "Home", new { @class = "nav-item nav-link" })</li>
                                <li>@Html.ActionLink("Add file", "DocumentUploading", "Home", new { @class = "nav-item nav-link" })</li>
                                <li>@Html.ActionLink("Requests", "CertRequests", "Home", new { @class = "nav-item nav-link" })</li>
                                <li>@Html.ActionLink("Resident", "Residents", "Home", new { @class = "nav-item nav-link" })</li>
                            }
                            <li>@Html.ActionLink("Logout", "Logout", "Home", new { @class = "nav-item nav-link" })</li>
                        }
                    }


                </ul>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        @*<hr />*@
        <footer>
            @*<p>&copy; @DateTime.Now.Year - eBarangay Application</p>*@
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
